CONSUMER_KEY=rPX0WorlosnqAGGNeWAFRykCf0SxiLO1VRG7wNXiWvWZRAcY
CONSUMER_SECRET=LHb0GvWgx0MtgHHQvgsdaSBz2S8wFHbN6KJx7Cmy4Ty4zlFAjoBg2Gu29KuoejnU
PASSKEY=1a332807852516cda711e35f94e2c3104274764ed98a9dc2dabc5e6bce79012d
SHORTCODE=4167789
CALLBACK_URL=https://telnetcommanderpro.onrender.com/mpesa/callback
JSONBIN_API_KEY=$2a$10$nt3L.8Zygga7WJ13Clwnl.dVnklQIN8Z7AmYz757urXSH4logE7Ci
WALLET_BIN_ID=69d61f3736566621a88dd80e
TOKENS_BIN_ID=69d667edaaba882197d84570
